.wind-details,
.precipitation {
  margin-bottom: var(--space05);
}

@media (min-width: 1024px) {
  .wind-details,
  .precipitation {
    margin: 0 var(--space15) 0 0;
  }
}

.field-label {
  font-weight: var(--bold);
}

.wind-direction {
  margin-right: var(--space05);
}

.field-wrapper {
  margin: var(--space1) 0;
  padding-bottom: var(--space1);
  border-bottom: 1px solid var(--dark-gray);
}

.field-wrapper:last-of-type {
  border-bottom: none;
}
