.temp-image-desc-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.weather-icon {
  position: relative;
  left: -12px;
  width: 60px;
  height: 60px;
}

.minimized-card {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.expanded-card-wrapper {
  margin: 32px 12px;
}

.current-temp {
  font-size: 48px;
  font-weight: bold;
  margin-right: 24px;
}

@media (min-width: 1024px) {
  .temp-image-desc-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .weather-icon {
    position: relative;
    left: 0;
    width: 60px;
    height: 60px;
  }  
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.weather-description {
  text-transform: capitalize;
}

.other-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}