.temp-image-desc-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--space1);
}

.weather-icon {
  position: relative;
  left: -12px;
  width: 60px;
  height: 60px;
}

.expanded-card-wrapper {
  margin: var(--space2) var(--space075);
}

.current-temp {
  font-size: var(--base-large);
  font-weight: bold;
  margin-right: var(--space15);
}

@media (min-width: 1024px) {
  .temp-image-desc-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .weather-icon {
    position: relative;
    left: 0;
    width: 60px;
    height: 60px;
  }  
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: var(--space15);
}

.weather-description {
  text-transform: capitalize;
}

.other-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--space2);
}